// 
// Icons
// 

// Styling for the rounded social media links

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background:gray;
        color: $white;
        border-radius: 100%;
        font-size: 2.2rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}
// styling for experience pics
.pic{
    float: left;
    clear: left;
    width:80px; 
    height:80px;
    /* ... */
}

// styling for flag pics
.flag-pic{
    float: middle;
    clear: left;
    width:80px; 
    height:50px;
    /* ... */
}
